{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

<form method="post">

    {% csrf_token %}

    <input
        type="text"
        name="username"
        class="form-control mb-3"
        placeholder="Username">

    <input
        type="password"
        name="password"
        class="form-control mb-3"
        placeholder="Password">

    <button class="btn btn-success">
        Login
    </button>
    <div class="mt-3">
    <a href="{% url 'password_reset' %}">
        Forgot Password?
    </a>
</div>

</form>

{% endblock %}
